/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video 
{margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}
ins {background-color: #ff9; color: #000; text-decoration: none;}
mark {background-color: #ff9; color: #000; font-style: italic; font-weight: bold;}
del {text-decoration: line-through;}
abbr[title], dfn[title] {border-bottom: 1px dotted; cursor: help;}
table {border-collapse: collapse; border-spacing: 0;}
hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}
input, select {vertical-align: middle;}

/**
 * Fonts
 */
@font-face {font-family:LiberationSerif-Regular; src:url('../fonts/LiberationSerif-Regular.ttf'); font-weight: normal; font-style:normal;}

/**
 * Global Styles
 */
html {font:20px/28px Helvetica, Arial, sans-serif; color:#454545;}
body {margin:70px auto 0; width:650px;}
h1 {font:bold 56px LiberationSerif-Regular, Palatino Linotype, Book Antiqua, serif; text-shadow:2px 2px 2px #ddd; word-spacing:-6px; letter-spacing:-1px;}
p {margin:14px 0;}
ul {margin-left:18px; list-style:none;}
li {margin:6px 0; list-style:disc;}
li:hover {margin:6px 0; list-style:none;}
li:hover:before {background:#454545;  border-radius:10px; content:""; display:inline-block; height:9px; left:-20px; margin-right:-9px; position:relative; top:-1px; width:9px;}
a {color:#1E6984;
  -webkit-transition:background .2s linear; -webkit-transition:color .2s linear;
  -moz-transition:background .2s linear; -moz-transition:color .2s linear;
}
a:visited {color: #365864;}
a:hover {background:#1E6984; color:#fff; text-decoration:none;}
a[href$="pdf"]:after {content:" (pdf)";}
b {font-style:italic; font-weight:bold;}
em {font-style:italic;}

::-moz-selection {background:#6f8f9b; color: #fff; text-shadow: none;}
::selection {background:#6f8f9b; color: #fff; text-shadow: none;}

